@use 'utils/colors' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;

    @media screen and (min-width: 1024px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

body {
    font-weight: 400;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

/* Hide the number input arrows in Webkit browsers (e.g., Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.converter {
    &__container {
        padding: 2rem;
        width: 95%;
        max-width: 800px;
        margin: 0 auto;
        background-color: rgba($color: #f0f0f0, $alpha: 0.5);
        color: $bluesh_black;

        border-radius: 10px;
        box-shadow: 0 0 16px 1px rgba(0,0,0,0.1);
        h1 {
            text-align: center;
        }
    }

    // &__content {
    //     display: flex;
    // }
}